<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="canonical" href="http://www.biomage.net/">

    <meta name="description" content="From sequencing data to biological insight. Biomage helps biologists, clinicians and other researchers interpret vast genomics and transcriptomics data sets.">
    <meta name="keywords" content="bioinformatics analysis sequencing single-cell mrna dna rna seq insight research">
    <meta name="author" content="Biomage, Ltd.">

    <meta property="og:site_name" content="Biomage">
    <meta property="og:url" content="http://www.biomage.net/">
    <meta property="og:locale" content="en_GB">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Biomage: from sequencing data to biological insight">
    <meta property="og:description" content="From sequencing data to biological insight. Biomage helps biologists, clinicians and other researchers interpret vast genomics and transcriptomics data sets.">

    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="dns-prefetch" href="//fonts.gstatic.com">
    <link rel="dns-prefetch" href="//ajax.googleapis.com">
    <link rel="dns-prefetch" href="//apis.google.com">
    <link rel="dns-prefetch" href="//google-analytics.com">
    <link rel="dns-prefetch" href="//www.google-analytics.com">
    <link rel="dns-prefetch" href="//ssl.google-analytics.com">

    <link rel="stylesheet" href="assets/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="assets/css/style.css" type="text/css">

    <title>Biomage: from sequencing data to biological insight</title>
</head>

<body data-spy="scroll" data-target=".fixed-top">
    {% include "partials/navigation.njk" %}
    {% block content %} {% endblock %}

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/general.js"></script>
</body>
</html>