
    <div class="banner-area banner">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 m-auto col-sm-6">
                            <div class="banner-content content-padding">
                                <h1 class="banner-title">From single-cell data<br/>to biological insights</h1>
                                <p>
                                Biomage Single-cell Pipeline turns vast sequencing data sets
                                into meaningful biology.
                                </p>

                                <p>
                                Researchers studying cancer, cardiovascular health and developmental biology use
                                our pipeline to  make discoveries about complex biological systems. Your field could be next.
                                </p>
                                
                                <a href="#biomage-pipeline-intro" class="btn btn-white btn-circled">Let's start</a>
                            </div>
                        </div>

                        <div class="col-lg-6  d-none d-lg-block col-sm-12">
                            <div class="banner-content content-padding demonstration">
                                <img src="img/image.png" alt="" class="img-fluid">
                                <p>Biomage Single-cell Pipeline discovers a TGFB1-induced differentiation event in human saphenous vein smooth muscle cells</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    