 <section id="biological-questions" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-12 my-auto">
                    <h1>Deep biological questions</h1>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12 my-auto">
                    <p>Single-cell mRNA-sequencing empowers to gain
                    unprecedented insight into cellular mechanism. However, almost all
                    pipelines fail to take advantage of the full power of the
                    technology.</p>
                    <p>The Biomage Single-cell Pipeline makes it possible to analyze
                    your data sets on the level of the individual mRNA molecules
                    identified by the sequencer: in bulk, for each read, or on a cell-by-cell basis.</p>
                    <p>This level of detail means we are able to analyze biological
                    signals not found in other commercial products, such as polyadenylation,
                    alternative splicing, RNA velocity, RNA editing, and much more. This gives
                    researchers the power to ask deep biological questions at an unprecedented scale.</p>
                </div>
            </div>

        </div>
    </section>