 <section id="biomage-pipeline-intro" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-12 my-auto">
                    <h1 class="align-middle">Biomage Single-cell Pipeline</h1>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12">
                    <p>Our product works with most mainstream genetic
                    sequencing technologies, including 10x Chromium,
                    SMART-Seq, and Illumia inDrop.</p>
                    <p>Your data is stored
                    securely in the cloud and we are committed to meeting
                    additional privacy or data protection criteria.</p>
                </div>
            </div>
        </div>
    </section>