 <section id="data-analysis" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-12 my-auto">
                    <h1>Interactive data analysis</h1>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12 my-auto">
                    <p>Gain an intuitive high-level view of biological systems
                    quickly and easily.</p>
                    <p>Our pipeline allows you to easily visualise gene activity
                    of individual cells. You can then use this information
                    to interactively create plots, cluster cells by genetic
                    signatures and more, allowing you to gain insight into
                    the behavior of large cell populations.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-12 my-auto">
                    <img class="d-block w-100" src="img/analysis_2.png" alt="Third slide">
                </div>
                <div class="col-lg-8 col-sm-12 my-auto">
                    <p>Expression levels of the gene SERPINE1 shown across cell clusters before and after treatment with recombinant TGFB1.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-12 my-auto">
                    <img class="d-block w-100" src="img/analysis_3.png" alt="Third slide">
                </div>
                <div class="col-lg-8 col-sm-12 my-auto">
                    <p>The Louvain community detection algorithm clusters TGFB1-treated human saphenous vein smooth muscle cells highlighting cellular heterogeneity.</p>
                </div>
            </div>    
                 
        </div>
    </section>