 <section id="data-analysis" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-12 my-auto">
                    <h1>Interactive data analysis</h1>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12 my-auto">
                    <p>Gain a high-level view of biological systems
                    quickly and easily.</p>
                    <p>Our pipeline lets you easily extract the gene activity
                    of individual cells. You can then use this information
                    to interactively create plots, cluster cells by genetic
                    signatures and more, allowing you to gain insight into
                    the behavior of large cell populations.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-12 my-auto">
                                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                            <img class="d-block w-100" src="img/analysis_1.png" alt="First slide">
                            </div>
                            <div class="carousel-item">
                            <img class="d-block w-100" src="img/analysis_2.png" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                            <img class="d-block w-100" src="img/analysis_3.png" alt="Third slide">
                            </div>
                            <div class="carousel-item">
                            <img class="d-block w-100" src="img/analysis_4.png" alt="Third slide">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-sm-12">
                    <div id="carouselExampleControls2" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque convallis sapien at venenatis congue. Aliquam vestibulum, libero vel pellentesque molestie, justo ante pulvinar orci, ut finibus ligula neque vitae diam. In diam elit, eleifend et gravida in, ultricies quis mauris. Donec non sodales nisl. Fusce vel sem ullamcorper, placerat turpis ut, blandit ligula. Etiam gravida libero augue, ac feugiat urna rutrum at. Integer a tortor ante. Mauris euismod auctor nunc, a pellentesque sapien blandit luctus. Aenean nec pharetra ex. Duis venenatis laoreet nisl consectetur bibendum. Praesent euismod justo nibh, quis tempor leo faucibus sit amet. Vivamus lobortis convallis massa eget accumsan. Nunc vehicula convallis mauris, quis pellentesque libero scelerisque nec.</p>
                            </div>
                            <div class="carousel-item">
                            <p>Aliquam ultricies metus eu arcu ornare, eu faucibus neque dapibus. Sed vitae dignissim nulla. Mauris lorem ligula, feugiat a lectus vitae, molestie ullamcorper sem. Vestibulum non vestibulum lorem. Nunc sodales ornare luctus. Nulla scelerisque ligula quis mi tempor, at sodales enim molestie. Maecenas pulvinar est lacus, ut placerat libero hendrerit sit amet. Donec in ultricies urna, vel pulvinar eros. Nunc elementum ultricies ornare. Mauris lobortis venenatis consequat. Nunc nec tristique sapien, in blandit arcu. Fusce tristique lorem ac ipsum molestie, nec venenatis erat faucibus. Donec in aliquet ante.</p>
                            </div>
                            <div class="carousel-item">
                            <p>Proin quis hendrerit erat, id malesuada nisi. Suspendisse nec velit et enim vehicula scelerisque eget ut justo. Mauris finibus ultrices libero in imperdiet. Aliquam porttitor semper purus lobortis commodo. Fusce maximus mauris at hendrerit condimentum. Phasellus accumsan odio mi, ut tempor libero feugiat in. Praesent a dui id lacus commodo efficitur maximus nec tortor. Sed euismod sagittis volutpat. Curabitur in vestibulum quam. Maecenas mollis malesuada metus id vulputate.</p>
                            </div>
                            <div class="carousel-item">
                            <p>Duis est quam, faucibus sit amet purus vitae, varius lobortis dolor. Nulla posuere nisl neque, sed vestibulum leo dignissim quis. Morbi condimentum metus non tortor gravida ullamcorper. Donec nisi libero, feugiat feugiat posuere egestas, lobortis ac tortor. Phasellus fringilla ut erat eget varius. Aliquam consectetur ornare elit et ornare. Quisque id nulla et felis egestas facilisis id quis nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis urna augue, laoreet id risus quis, consequat convallis elit. Donec laoreet ligula id tortor ullamcorper rutrum. Proin hendrerit risus ligula, sit amet tristique diam egestas quis.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>