<footer id="footer" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-8 col-md-8">
                <div class="footer-widget footer-link">
                    <h4>Innovative biological analysis</h4>

                    <p>Advances in single-cell analysis are transforming the life sciences. At Biomage, our goal is to apply innovative
                    computational methods to extract valuable insight from biological data, fueling cutting-edge research across
                    biological disciplines.</p>
                </div>
            </div>
            <div class="col-lg-2 hidden-sm">
            </div>
            <div class="col-lg-2 hidden-sm">
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6">
                <div class="footer-widget footer-text">
                    <h4>Our location</h4>
                    <p><span>Offices:</span> 155 St Vincent St,
                    Glasgow G2 5NW, United Kingdom</p>
                    <p><span>E-mail:</span> hello@biomage.net</p>
                    <p><span>Phone:</span> +44 7521 262 441</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="footer-copy">
                    © 2019 Biomage, Ltd. All Rights Reserved.
                </div>
            </div>
        </div>
    </div>
</footer>