<nav class="navbar navbar-expand-lg fixed-top trans-navigation">
    <div class="container">
        <a class="navbar-brand" href="index-2.html">
            <img src="img/logo.png" alt="" class="img-fluid b-logo">
        </a>
    </div>
</nav>