<nav class="navbar navbar-expand-lg fixed-top trans-navigation">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="img/logo.png" alt="Biomage Logo" width="17%" height="17%" class="img-fluid b-logo">
        </a>
    </div>
</nav>