<!-- index.nunjucks -->
{% extends "layout.njk" %}

{% block content %}
    {% include "partials/banner.njk" %}
    {% include "partials/biomage-intro.njk" %}
    {% include "partials/data-analysis.njk" %}
    {% include "partials/biological-questions.njk" %}
{% endblock %}