  /*--------------------------
    ABOUT SECTION
  ----------------------*/
  
  #data-analysis {
    background: linear-gradient(135deg, #ffffff 0%, #eeeeee 30%, #dddddd 100%);
    opacity: .87;
    color: #383D3B;
}